


<h4> Author of the Book <h3>"<%= @book.book_name.upcase %>"</h3> is <h3>"<%= @book.author.author_name.upcase %>" </h3> </h4>
    <%= link_to "EDIT", edit_book_path(@book), :class => "btn btn-mini btn-warning btn-active" %>
    <%= link_to "DELETE", author_path(@book), method: :delete, :class => "btn btn-mini btn-danger btn-active" %>

    <br>



